<div ng-controller="GameObjectController">
    <div class="page-header well-sm">
        <h1>{{gameObject.name}}<small> object</small></h1>
    </div>
    <div class="panel panel-default well-sm">
        <div class="panel-heading">Attributes</div>
        <div class="panel-body">
            <div class="input-group well-sm">
                <span class="input-group-addon">ID</span>
                <input type="text" ng-readonly="true" class="form-control" id="id" ng-model="gameObject.id" />
            </div>
            <div class="input-group well-sm">
                <span class="input-group-addon">X</span>
                <input type="text" ng-readonly="true" class="form-control" id="x" ng-model="gameObject.position.x" />
            </div>
            <div class="input-group well-sm">
                <span class="input-group-addon">Y</span>
                <input type="text" ng-readonly="true" class="form-control" id="y" ng-model="gameObject.position.y" />
            </div>
            <div class="input-group well-sm">
                <span class="input-group-addon">Z</span>
                <input type="text" ng-readonly="true" class="form-control" id="y" ng-model="gameObject.position.y" />
            </div>
        </div>
    </div>
    <div class="btn-toolbar well-sm" role="toolbar">
        <div class="btn-group">
            <a ng-href="#/game/object/{{gameObject.id}}/edit" class="button-link">
                <button  type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </a>
        </div>
        <div class="btn-group">
            <a ng-href="#/game/object/{{gameObject.id}}/xml" class="button-link">
                <button  type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit XML
                </button>
            </a>
        </div>
        <div class="btn-group">
            <a ng-href="#/game" class="button-link">
                <button type="button" class="btn">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back
                </button>
            </a>
        </div>
    </div>
</div>