<div ng-controller="GameObjectController">
    <div>
        <h1><a ng-href="#/game">Game</a> Object {{gameObject.name}}</h1>
        <div>
            <div>X: {{gameObject.position.x}}</div>
            <div>Y: {{gameObject.position.y}}</div>
            <div>Z: {{gameObject.position.z}}</div>
        </div>
    </div>
    <div>
        <div class="buttonbar">
            <a ng-href="#/object/{{gameObject.id}}/modify" class="button-link">
                <button  type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </a>
        </div>
        <div class="buttonbar">
            <a ng-href="#/game/" class="button-link">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Back
                </button>
            </a>
        </div>
    </div>
</div>