<div ng-controller="GameController">
    <div class="page-header well-sm">
        <h1>{{game.name}}<small> edit game</small></h1>
    </div>
    <div class="panel panel-default well-sm">
        <div class="panel-heading">Attributes</div>
        <div class="panel-body">
            <div class="input-group well-sm">
                <span class="input-group-addon">ID</span>
                <input type="text" class="form-control" id="id" placeholder="Enter ID of Game" ng-model="game.id" />
            </div>
            <div class="input-group well-sm">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" id="name" placeholder="Enter Name of Game" ng-model="game.name" />
            </div>
        </div>
    </div>
    <div class="btn-toolbar well-sm" role="toolbar">
        <div class="btn-group">
            <button ng-click="saveGame();" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
        </div>
        <div class="btn-group">
            <a ng-href="#/game/" class="button" >
                <button type="button" class="btn-mybuttons-2">
                    <span class="glyphicon glyphicon-arrow-left"></span> Cancel
                </button>
            </a>
        </div>
    </div>
</div>
