<div ng-controller="GameController">
  <div>
    <h1>Game {{game.id}}</h1>
    <div ng-repeat="obj in objs">
      <div class="gameObjects">[{{obj.id}}] 
        <a ng-href="#/object/{{obj.id}}">{{obj.name}}</a>
        <button type="button" class="btn btn-danger button-link" ng-click="removeObject(obj.id);">
          Remove
        </button>
      </div>
    </div>
  </div>
  <div>
    <a ng-href="#/game/newobject" class="button-link">
      <button type="button" class="btn btn-success">
        Add
      </button>
    </a>
  </div>
</div>